<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tony.puzzle" >

<!--    <uses-sdk-->
<!--        tools:overrideLibrary="-->
<!--                         android.support.compat,-->
<!--                         com.facebook,-->
<!--                         com.google.android.gms,-->
<!--                         com.google.android.gms.ads,-->
<!--                         com.google.ads.mediation.facebook,-->
<!--                         com.google.android.gms.base,-->
<!--                         com.google.android.gms.tasks,-->
<!--                         com.google.android.gms.gass,-->
<!--                         com.google.android.exoplayer2.source.dash,-->
<!--                         com.google.android.exoplayer2.core,-->
<!--                         com.google.android.gms.clearcut,-->
<!--                         com.google.android.gms.ads.impl,-->
<!--                         android.support.v7.recyclerview,-->
<!--                         android.support.v7.appcompat,-->
<!--                         android.support.v7.viewpager,-->
<!--                         android.support.compat,-->
<!--                         android.support.graphics.drawable,-->
<!--                         android.support.coordinatorlayout,-->
<!--                         android.support.drawerlayout,-->
<!--                         android.support.slidingpanelayout,-->
<!--                         android.support.customview,-->
<!--                         android.support.swiperefreshlayout,-->
<!--                         android.support.interpolator,-->
<!--                         android.support.asynclayoutinflater,-->
<!--                         android.support.cursoradapter,-->
<!--                         android.support.documentfile,-->
<!--                         android.support.loader,-->
<!--                         android.support.localbroadcastmanager,-->
<!--                         android.support.print,-->
<!--                         android.support.coreutils,-->
<!--                         android.support.v4,-->
<!--                         android.support.coreui,-->
<!--                         android.support.mediacompat,-->
<!--                         android.support.fragment,-->
<!--                         androidx.versionedparcelable,-->
<!--                         android.arch.lifecycle,-->
<!--                         android.arch.lifecycle.livedata.core,-->
<!--                         android.arch.lifecycle.viewmodel,-->
<!--                         android.arch.core,-->
<!--                         com.facebook.ads,-->
<!--                         com.vungle.warren,-->

<!--                         com.facebook.core,-->
<!--                         com.google.android.gms,-->
<!--                         com.doodlemobile.helper.admoblow,-->
<!--                         com.google.android.gms.ads_identifier,-->
<!--                         com.google.android.gms.common,-->
<!--                         androidx.legacy.v4,-->
<!--                         androidx.fragment,-->
<!--                         androidx.legacy.coreui,-->
<!--                         com.flurry.android.analytics.sdk,-->
<!--                         com.doodlemobile.helper.facebook,-->
<!--                         com.appsflyer,-->
<!--                         com.appsflyer.oaid,-->
<!--                         com.facebook.biddingkit,-->
<!--                         com.doodlemobile.helper.facebookbidder,-->
<!--                         com.google.android.gms.ads_identifier,-->
<!--                         com.unity3d.ads,-->
<!--                         androidx.loader,-->
<!--                         androidx.viewpager,-->
<!--                         androidx.legacy.coreutils,-->
<!--                         androidx.coordinatorlayout,-->
<!--                         androidx.drawerlayout,-->
<!--                         androidx.slidingpanelayout,-->
<!--                         androidx.customview,-->
<!--                         androidx.asynclayoutinflater,-->
<!--                         androidx.swiperefreshlayout,-->
<!--                         androidx.core,-->
<!--                         androidx.lifecycle,-->
<!--                         androidx.documentfile,-->
<!--                         androidx.localbroadcastmanager,-->
<!--                         androidx.print,-->
<!--                         androidx.interpolator,-->
<!--                         androidx.cursoradapter,-->
<!--                         androidx.lifecycle.viewmodel,-->
<!--                         androidx.lifecycle.livedata,-->
<!--                         androidx.lifecycle.livedata.core,-->
<!--                         androidx.arch.core,-->
<!--                         androidx.media,-->
<!--                         com.google.android.play.core.client,-->
<!--                         androidx.activity,androidx.savedstate,-->
<!--                         com.google.android.gms.measurement.sdk.api,-->
<!--                         com.google.android.gms.measurement_base,-->
<!--                         com.doodlemobile.helper.admobhigh,-->
<!--                            com.doodlemobile.helper.admob21,-->
<!--                            androidx.work,-->
<!--                            com.google.android.gms.ads_base,-->
<!--                            com.google.android.ads.consent,-->
<!--                            androidx.annotation.experimental,-->
<!--                            androidx.startup,-->
<!--                            androidx.room,-->
<!--                            androidx.sqlite.db.framework,-->
<!--                            androidx.sqlite.db,-->
<!--                            androidx.lifecycle.service,-->
<!--                            androidx.tracing,-->

<!--                            "-->
<!--        />-->

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:usesCleartextTraffic="true"
        android:appCategory="game"
        android:label="@string/app_name"
        android:largeHeap="true"
        >
        <activity
            android:name=".AndroidLauncher"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:resizeableActivity="false"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|navigation|uiMode|fontScale|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
